extends top-layout.pug
//- extends를 사용하려면 block으로 나눠서 넣어야함
block content
    header 장바구니 페이지 
    a(href="/") 메인으로 이동

    h1 장바구니 목록
    h4 장바구니 생성일자
    p=basket_date
    -for (const i in basketList )
        -const [bookNum , bookName , amount] = [basketList[i].book_num, basketList[i].book_name, basketList[i].book_amount ]
        div#book
            p 도서 번호 : #{bookNum} /
            p 도서 제목 : #{bookName} /
            p 도서 수량 : #{amount} / 
            
