extends top-layout.pug
//- extends를 사용하려면 block으로 나눠서 넣어야함
block content
    header 장바구니 페이지 
    a(href="/") 메인으로 이동

    h1 장바구니 목록
    h2 장바구니 생성일자
    div 
        p 도서 목록
        p 도서 가격
        p 도서 수량
