extends top-layout.pug
//- extends를 사용하려면 block으로 나눠서 넣어야함

block content
  header 메인 페이지 
  nav
    ul
      li
        a(href="./books") 도서
      li
        a(href="./basket") 장바구니
      li
        a(href="./order") 주문
      li
        if isloggedIn
          p 로그아웃
          a(href="./logout") 로그아웃 하기
        else
          p 로그인
          a(href="./signUp") 로그인 하기
  section
    article
      if isloggedIn
        p=userMessage
        p=grade
      else
        p=userMessage
        a(href="./signUp")
      - let admin = grade === "admin" ? true : false
      if admin
        a(href="./manager") 도서 추가하러가기
    article
      p 도서 정보
      a(href="./books") 도서 보러가기
      if isloggedIn
        p 주문조회
        a(href="./order") 주문조회 하러가기
      else
        p=userMessage
    article
      p 장바구니
      a(href="./basket") 장바구니 보러가기

